{% extends 'layouts/base.html'%}
{% load static i18n %}

{% block content%}
<!-- about section start -->
    <section class="about">
        <h1 class="heading">{% translate "about" %} <span>{% translate "me" %}</span></h1>

        <div class="row">
            <div class="image">
                <img src="{% static 'img/photo_2022.jpg' %}" alt="my photo">
            </div>

            <div class="content">
                <h3>{% translate "my name is" %} <span>{% translate "Nasirov Kamoliddin" %}</span></h3>
                <p class="info">{% translate "sep.2016 - June 2019 Chirchik Technical Vocational college" %} </p>
                <p class="info2">{% translate "sep.2021 - sep 2022 B.Akilkhanov tech academy graduate" %}</p>
                <div class="box-container">
                    <div class="box">
                        <p><span>{% translate "age:" %} </span>22</p>
                        <p><span>{% translate "gender:" %} </span>{% translate "male" %}</p>
                        <p><span>{% translate "experience:" %} </span>6 {% translate "month" %}</p>
                        <p><span>{% translate "freelance:"%} </span>{% translate "available" %}</p>
                    </div>

                    <div class="box">
                        <p><span>{% translate "language:" %} </span>{% translate "uzbek/russian" %}</p>
                        <a href="phone"><p><span>{% translate "phone:" %} </span>+998(90)1355455</p></a> 
                        <p><span>{% translate "email:" %} </span>kripton.017@mail.ru</p>
                        <p><span>{% translate "address:" %} </span>{% translate "Tashkent, Chirchik, Shakirov-33" %}</p>   
                    </div>
                </div>
                <a href="#" class="btn">{% translate "download CV" %}</a>
            </div>
        </div>

    </section>
<!-- about section end -->
{% endblock%}