{% load static i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- custom css file link-->
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <!-- font-awesome cdn link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <!-- icons-web site  -->
    <link rel="icon" href="{% static 'img/logo2.jpg' %}" type="logo2/jpg" sizes="16x16">
    <title>my_blog_news_design</title>
</head>

<body>
    <!-- header stars -->
    <header>
        <!-- <div id="menu-bars" class="fas fa-bars"></div> -->
        <nav class="navbar">
            <a href="{% url 'main'%}">{% translate "home" %}</a>
            <a href="{% url 'about'%}">{% translate "about" %}</a>
            <a href="{% url 'services'%}">{% translate "services" %}</a>
            <a href="{% url 'portfolio'%}">{% translate "portfolio" %}</a>
            <a href="#">{% translate "blogs" %}</a>
            <a href="#">{% translate "contact" %}</a>
        </nav>
    </header>


    <!-- header end -->

    
    {% block content%}
    {% endblock%}




    
    <!-- particles.js links  -->
    <script src="{% static 'node_modules/particles.js/particles.js' %}"></script>
    <script src="{% static 'node_modules/particles.js/demo/js/app.js'%}"></script>

</body>

</html>